<p>{% if question.single_choice %}Choose one answer{% else %}Choose one or multiple answers{% endif %}</p>
{% for answer in question.answers %}
<div class="form-check">
    <input class="form-check-input" {% if question.single_choice %} type="radio" {% else %} type="checkbox" {% endif %}
        name="question-{{ question_id }}" id="question-{{question_id}}-answer-{{ loop.index }}">
    <label class="form-check-label" for="question-{{question_id}}-answer-{{ loop.index }}" style="display: inline;">
        {{ answer.text }}
    </label>
</div>
{% endfor %}