<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .MathJax {
            display: inline !important;
        }
    </style>
</head>

<body style="width: 90%; max-width: 800px; margin: auto;">
    <header>
        <h1 class="py-3">{{ title }}</h1>
    </header>
    <form class="d-flex flex-column gap-2">
        {% for question in questions %}
        {% set question_id = loop.index %}
        <div class="card">
            <fieldset class="card-body">
                <legend class="fs-5">{{ question.qtext }}</legend>
                {% if isinstance(question, MultichoiceQuestion) %}
                {% include 'question/multichoice.html' %}
                {% elif isinstance(question, TrueFalseQuestion) %}
                {% include 'question/truefalse.html' %}
                {% elif isinstance(question, DescriptionQuestion) %}
                {% else %}
                <div>Question type not implemented</div>
                {% endif %}
            </fieldset>
        </div>
        {% endfor %}
    </form>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>

</html>